<div>
    <h3>Random Beer</h3>

    <ol>
        {{#each responseFromAPI}}
        <img src="{{this.image_url}}" alt="beer" width="35px">
        <div>
            <ul>
                <h4 id="beerName">{{this.name}}</h4>
                <p id="beerDesc">{{this.description}}</p>
                <li id="beerFood">{{this.food_pairing}}</li>
            </ul>
                <p><b>Brewer Tips: </b>{{this.brewers_tips}}</p>


        </div>
        </li>
        {{/each}}
    </ol>
</div>